$light-green: #C4CEC0;
$medium-green: #93998A;
$dark-green: #1F484C;
$rose: #F0BFB2;
$red: #D2642F;
$yellow: #E0A844;
$dark-purple: #4C3F54;
$purple: #D1A7BB;
$brown: #B1824C;
$gray: #DCD6D1;

$background-color-top: white;
$background-color-main: #fbfcfd;
$background-color-highlight-1: #eef0f4;
$button-color-main: #e35a27;
$button-color-secondary: #828776;

$link-color-main: #29243d;
$font-color-highlight: #8f9485;