SetEnv APP_ENV prod
SetEnv APP_DEBUG 0
SetEnv APP_SECRET your_app_secret
SetEnv CORS_ALLOW_ORIGIN ^https?://localhost|127\.0\.0\.1)(:[0-9]+)?$
SetEnv DATABASE_URL mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7&charset=utf8mb4
