// customization of bootstrap styles
// see: https://stackoverflow.com/questions/58581748/what-are-the-steps-to-using-custom-bootstrap-sass-in-a-vue-cli-3-project

@import "variables";

$theme-colors: (
  "primary": $button-color-main,
);

@import '../node_modules/bootstrap/scss/bootstrap';

.btn-outline-primary, .btn-primary {
  --bs-btn-hover-color: #ececec;
  --bs-btn-active-color: #ececec;
  --bs-btn-disabled-color: #ececec;
}

.btn-primary {
  --bs-btn-color: #ececec;
}