@use "../node_modules/bootstrap/scss/bootstrap-grid.scss"; // import breakpoint mixin from grid definition
@import "./variables.scss";

.main-content {
  background-color: $background-color-main;
  color: $font-color-highlight;

  border: 2px solid $background-color-highlight-1;
  box-shadow: 5px 5px 5px darken($background-color-highlight-1, 8);
}

.padding-top {
  padding-top: $content-padding;
}

.rounded-button {
  width: auto !important;
  border: 2px solid $button-color-main;
  border-radius: 20px;
  color: $button-color-main;
}

.rounded-button.router-link-exact-active, .rounded-button.active {
  background-color: $button-color-main;
  color: $background-color-main;
}

.inline-item-list-element {
  width: auto !important;
  display: inline-block;
  border: 2px solid $button-color-secondary;
  background-color: $button-color-secondary;
  line-height: 1.8;
  border-radius: 1rem;
  color: $background-color-main;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 5px;

  a {
    color: white;
    text-decoration: underline;
  }
}

.row ul, .row ol {
  margin-left: 30px;
}

// quick fix for form-group elements
// TODO: replace with usage of grid and utilities
.form-group {
  margin-bottom: 1rem;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > .col {
  padding-left: 5px;
  padding-right: 5px;
}

label {
  margin-bottom: 0.5rem;
}

// modals
.vfm-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vfm-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
