$background-color-main: white;
$background-color-highlight-1: #eef0f4;
$button-color-main: #e35a27;
$button-color-secondary: #828776;

$link-color-main: #29243d;
$font-color-highlight: #8f9485;

$content-padding: 7px;